@model PizzaShop1.Models.CartCheckoutViewModel

<div class="voucher">
    <h2>Voucher</h2>
    <h3 id="voucherEntered"></h3>
    @*if(Model.Voucher != null){
        <h3 id="voucherAccepted">@Model.Voucher.Name</h3>
    }*@
</div>